body{  
    margin: 0;  
    padding: 100px 0 50px 0;  
}  
* html body{  
    overflow: hidden;  
}
div#header {  
    position: fixed !important;  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
}  
div#footer {  
    position: fixed !important;  
    position: absolute;  
    bottom: 0;  
    left: 0;  
    width: 100%;
    background-color: #DDDDDD;
    padding:20px;
    margin-bottom: 0px;
}  
div#contents{  
    height: 100%;  
    overflow: auto;  
}
/****************************************************
 * 	Push Button
 *****************************************************/
.push_button{
    position:relative;
    width:280px;
    color:#FFF;
    display:block;
    text-decoration:none;
    margin:0 auto;
    border-radius:5px;
    text-align:center;
    padding:20px 30px;
    font-size: 25px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
.push_button:active{
    position:relative;
    top:7px;
}

.push_button_red {
    border:solid 1px #D94E3B;
    background:#cb3b27;
    -webkit-box-shadow: 0px 9px 0px #84261a;
    -moz-box-shadow: 0px 9px 0px #84261a;
    box-shadow: 0px 9px 0px #84261a;
}
.push_button_red:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
}

.push_button_blue {
    border:solid 1px #3bafda;
    background:#4fc1e9;
    -webkit-box-shadow: 0px 9px 0px #3bafda;
    -moz-box-shadow: 0px 9px 0px #3bafda;
    box-shadow: 0px 9px 0px #3bafda;
}

.push_button_blue:active{
    -webkit-box-shadow: 0px 9px 0px #2fb1b9;
    -moz-box-shadow: 0px 9px 0px #2fb1b9;
    box-shadow: 0px 9px 0px #2fb1b9;
}

/****************************************************
 * 	Push Button
 *****************************************************/
.push_button_white{
    position:relative;
    width:280px;
    color:#000;
    display:block;
    text-decoration:none;
    margin:0 auto;
    border-radius:5px;
    border:solid 1px #DDDDDD;
    background:#FFFFFF;
    text-align:center;
    padding:20px 30px;
    font-size: 25px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    -webkit-box-shadow: 0px 9px 0px #CCCCCC;
    -moz-box-shadow: 0px 9px 0px #CCCCCC;
    box-shadow: 0px 9px 0px #CCCCCC;
}
.push_button_white:active{
    -webkit-box-shadow: 0px 2px 0px #CCCCCC;
    -moz-box-shadow: 0px 2px 0px #CCCCCC;
    box-shadow: 0px 2px 0px #CCCCCC;
    position:relative;
    top:7px;
}
.list {
    overflow: hidden;
    position: relative;
}
.list ul {
    list-style: none outside none;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    position: relative;
    left: 50%;
}
.list ul li {
    float: left;
    margin-right: 5px;
    padding: 5px;
    position: relative;
    left: -50%;
}